<!-- <div mat-dialog-content>
  <p appHighlightText>Welcome to the login modal!</p>
    <form>
        <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" type="email" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</div> -->
  

